.uploads {
  min-height: 100vh;
  display: flex;
}
.uploads__content {
  flex: 1;
  background-color: var(--dash_background);
  height: 100vh;
  overflow: scroll;
}
.uploads__header {
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 25px;
  color: var(--dark_purple);
}
.uploads__details {
  background-color: white;
  width: 70vw;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px lightgray;
  color: gray;
}
.uploads__detail {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-size: 15px;
  border-top: 1px lightgray solid;
}
.uploads__icon {
  font-size: 30px;
  margin-right: 10px;
  color: var(--dark_purple);
}
.uploads__detail p {
  flex: 1;
}
.uploads__btn {
  font-size: 15px;
  color: white;
  border: none;
  background-color: var(--dark_purple);
  padding: 12px 12px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .uploads__btn {
    font-size: 12px;
  }
}
