.users {
    display: flex;
}
.users__sideNav {
    flex: 0.2;
}
.users__content {
    flex: 0.8;
    background-color: var(--dash_background);
    height: 100vh;
    overflow: scroll
}
.users__header {
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 25px;
    color: var(--dark_blue);
}
.users__details {
    background-color: white;
    width: 70vw;
    margin: 10px auto;
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
    color: gray;

}
.users__detail {
    background-color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 8px 20px;
    font-size: 15px;
    border: 1px lightgray solid;
}
.users__icon {
    font-size: 30px;
    margin-right: 50px;
    color: #03396c;
}
.users__detail p {
    margin-right: 50px; 
    min-width: 400px;
}
.users__btn {
    font-size: 15px;
    color: white;
    border: none;
    background-color: var(--light_blue);
    padding: 5px 20px;
    border-radius: 20px;
}