@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

.users {
  min-height: 100vh;
  display: flex;
}
.users__sideNav {
  flex: 0.2;
}
.users__content {
  flex: 1;
  background-color: var(--dash_background);
  height: 100vh;
  overflow: scroll;
}
.users__header {
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 25px;
  color: var(--dark_blue);
  font-family: "Rubik", sans-serif;
}
.users__spinner {
  color: var(--light_blue);
}
.users__details {
  background-color: white;
  width: 70vw;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px lightgray;
  color: gray;
}
.users__detail {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-size: 15px;
  border-top: 1px lightgray solid;
}
.users__icon {
  font-size: 30px;
  margin-right: 10px;
  color: var(--energetic_light_blue);
}
.users__detail p {
  flex: 1;
}
.users__btn {
  font-size: 15px;
  color: white;
  border: none;
  background-color: var(--energetic_light_blue);
  padding: 12px 12px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .users__btn {
    font-size: 12px;
  }
}
