.card {
  width: 310px;
  height: 200px;
  padding: 10px 20px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  transition: 0.2s ease-in;
}
.card:hover {
  transform: scale(1.01);
}
.card__icon {
  font-size: 45px;
  color: pink;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 238, 255);
  border-radius: 50%;
}
.card__header {
  font-size: 12px;
  margin: 15px 0 5px 0;
  text-transform: uppercase;
  color: var(--dark_blue);
}
.card__value {
  font-size: 20px;
  color: var(--dark_blue);
}
@media (max-width: 768px) {
  .card {
    width: 400px;
    box-shadow: none;
  }
}
