.dashBlank__content {
  flex: 0.8;
  background-color: var(--dash_background);
}
.dashBlank__header {
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 25px;
  color: var(--dark_blue);
}
.dashBlank__cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  margin-bottom: 20px;
}
.dashBlank__graphs {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.dashBlank__doughnut {
  margin: 10px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  height: 320px;
  width: 350px;
  padding: 10px;
}
.dashBlank__bar {
  margin: 10px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  height: 320px;
  width: 650px;
  padding: 10px;
}
.dashBlank__header {
  height: 13px;
  background-color: var(--dash_background);
  border-radius: 8px;
}
@media (max-width: 992px) {
  .dashBlank__bar,
  .dashBlank__doughnut {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .dashBlank__bar,
  .dashBlank__doughnut {
    width: 95%;
  }
}
