.sideNav {
  background-color: var(--dark_blue);
  width: 250px;
  padding: 40px 40px;
  height: 100vh;
  color: white;
  position: relative;
}
.sideNav__logo img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.sideNav__links {
  margin-top: 40px;
}
.sideNav__links a {
  display: block;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.sideNav__links .active {
  background-color: var(--light_blue);
}
.sideNav__link {
  list-style: none;
  font-size: 15px;
  padding: 6px 10px;
  margin: 9px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in;
}
.sideNav__link--bottom {
  cursor: pointer;
  position: absolute;
  width: 150px;
  bottom: 30px;
  text-align: center;
  border: 1px red solid;
}
.sideNav__link--bottom:hover {
  background-color: red;
}

.sideNav__icon {
  margin-right: 10px;
  font-size: 25px;
}

@media (max-width: 1000px) {
  .sideNav {
    display: none;
  }
}
