.sideNavMini {
  display: none;
  background-color: var(--dark_blue);
  width: 100px;
  padding: 40px 0;
  height: 100vh;
  color: white;
  position: relative;
}
.sideNavMini__logo img {
  width: 80px;
  display: block;
  margin: 0 auto;
}
.sideNavMini__links {
  margin-top: 40px;
}
.sideNavMini__links a {
  display: block;
  color: white;
  text-decoration: none;
}
.sideNavMini__links .active {
  background-color: var(--light_blue);
}
.sideNavMini__link {
  list-style: none;
  font-size: 12px;
  padding: 6px 10px;
  margin: 5px 0;
  text-align: center;
  align-items: center;
  transition: 0.2s ease-in;
}
.sideNavMini__link--bottom {
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 30px;
}
.sideNavMini__link--bottom:hover {
  background-color: red;
}

.sideNavMini__icon {
  margin-right: 10px;
  font-size: 25px;
}
@media (max-width: 1000px) {
  .sideNavMini {
    display: block;
  }
}
