@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
:root {
  --dark_blue: #04040d;
  --light_blue: dodgerblue;
  --dash_background: rgb(221, 230, 238);
  --energetic_light_blue: #03396c;
  --dark_purple: rgb(51, 8, 51);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.stopScroll {
  overflow-y: hidden;
}
