@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
:root {
  --dark_blue: #04040d;
  --light_blue: dodgerblue;
  --dash_background: rgb(221, 230, 238);
}
